@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #29201b;
}

nav {
  max-width: 1400px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

nav button {
  width: 70px;
  color: #fff;
  background-color: transparent;
  padding: 12px 16px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid #696969;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

nav button:hover {
  background-color: #696969;
  color: #fff;
}

nav button#menuButton {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 7px;
}

.logo {
  max-width: 170px;
}

.links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 6rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
  font-size: 1.5rem;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #fdac33;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 100%;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 5rem 2rem;
}

.container img {
  width: 75%;
  margin: auto;
  margin-top: 2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: solid 10px;
  border-color: #534137;
}

iframe {
  width: 1000px;
  height: 563px;
  margin: auto;
  margin-top: -4rem;
  margin-bottom: -4rem;
  display: block;
  border-radius: 10px;
  border: solid 10px;
  border-color: #534137;
}

.blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px #fdac33;
  z-index: -100;
}

header {
  position: relative;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  gap: 5rem;
}

header .content h1 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 800;
  line-height: 4rem;
}

header .content h2 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2rem;
}

header .content h3 {
  margin-top: 4rem;
  color: #ccc;
  font-size: 1.1rem;
  font-weight: 600;
  align-items: center;
}

header .content h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #ccc;
  font-size: 1.3rem;
  font-weight: 600;
  align-items: center;
}

header .content h5 {
  color: #ccc;
  font-size: 1.1rem;
  font-weight: 600;
  align-items: center;
}

header .content h6 {
  margin-top: 2rem;
  margin-bottom: 0.3rem;
  color: #ccc;
  font-size: 1.5rem;
  font-weight: 600;
  align-items: center;
}

header .content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

header .content p {
  margin-bottom: rem;
  color: #ccc;
}

header .image {
  position: relative;
}

header .image img {
  position: relative;
  max-width: 450px;
  margin: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

header .content .socials {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

header .content .socials a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 10px 18px;
  font-size: 2rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}

header .content .socials a:hover {
  color: #fff;
  background-color: #fdac33;
  border-color: #fdac33;
}

section .header {
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}

.sub-header {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: #ccc;
}

.skill {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.skill .card {
  padding: 3rem 2rem;
  background-color: #534137;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.skill .card:hover {
  background-color: #473730;
  border-color: #473730;
}

.skill .card .content {
  flex: 1;
  margin-bottom: 2rem;
}

.skill .card h4 {
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 2px dashed #fff;
}

.skill .card p {
  color: #fff;
  margin-bottom: 1rem;
}

.skill .card p i {
  color: #ccc;
  font-size: 1.2rem;
  margin-right: 0.3rem;
}

.skill {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.skill .card {
  padding: 3rem 2rem;
  background-color: #534137;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.skill .card:hover {
  background-color: #473730;
  border-color: #473730;
}

.skill .card .content {
  flex: 1;
  margin-bottom: 2rem;
}

.skill .card h1 {
  text-align: center;
  padding-bottom: 0.25rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
}

.skill .card h4 {
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 2px dashed #fff;
}

.skill .card h5 {
  text-align: center;
  padding-bottom: 0.2rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.skill .card h6 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
}

.skill .card p {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 18px;
}

.skill .card p i {
  color: #ccc;
  font-size: 1.2rem;
  margin-right: 0.3rem;
}

.skill .card .content .progress-bar {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 25px;
  background-color: #ddd;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.skill .card .content .progress-bar span {
  position: absolute;
  display: flex;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #fdac33;
}

.skill .card .content .progress-bar span.thai {
  width: 100%;
}

.skill .card .content .progress-bar span.english {
  width: 75%;
}

.skill .card .content .progress-bar span.japanese {
  width: 20%;
}

.skill .card .content img {
  width: 75%;
  margin: auto;
  margin-bottom: 2rem;
}

.card-wider {
  width: 75%;
  margin: auto;
  margin-top: 2rem;
  background-color: #534137;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.card-wider:hover {
  background-color: #473730;
  border-color: #473730;
}

.card-wider .content {
  flex: 1;
  margin: 2rem;
}

.card-wider h4 {
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 2px dashed #fff;
}

.card-wider p {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 20px;
}

@media (width < 900px) {
  .links {
    display: none;
    gap: 3rem;
  }

  .links a {
    font-size: 18px;
  }

  nav.open .logo {
    display: none;
  }

  nav.open .links {
    display: flex;
  }

  nav button#menuButton {
    display: flex;
  }

  header {
    grid-template-columns: repeat(1, 1fr);
  }

  header .image {
    grid-area: 1/1/2/2;
  }

  .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skill {
    grid-template-columns: repeat(2, 1fr);
  }

  iframe {
    width: 650px;
    height: 366px;
  }
}

@media (width < 600px) {
  header .image::before {
    display: none;
  }

  .skill {
    grid-template-columns: repeat(1, 1fr);
  }

  iframe {
    width: 350px;
    height: 197px;
  }
}